html, body {
  font-style:
  max-width: 1920px;
  margin: auto;
  background-color: #232323;
}

.header {
   height: 100px;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   grid-area: h;
   color: white;
}

#logo {
   margin: auto;
   grid-area: m;
   height: 85px;
}

#profilbillede {
   width: 225%;
   padding-left: 40%;
   object-fit: cover;
   grid-area: pr;
}


.footer {
   grid-area: f;
   color: white;
}

.burgermenu {
   grid-area: j;
   height: 100px;
   color: white;
}

#myVideo {
  grid-area: hv;
  max-width: 100%;
  height: auto;
  filter: brightness(0.8);
}

.et {
  grid-area: et;
  color: white;
}

.praesentationsheader {
   grid-area: prhe;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   font-size: 153%;
   color: white;
   padding-left: 12%;
   padding-top: 20%;
   color: yellow;
}

.praesentationstekst {
   grid-area: prte;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 60%;
   color: white;
   padding-left: 12%;
   margin-bottom: 120px;
   margin-right: 60px;
}

.to {
   grid-area: to;
   color: white;
}

.tre {
   grid-area: tre;
   color: white;
}

.fire {
   grid-area: fire;
   color: white;
}

.projekter {
   grid-area: p;
   color: white;
}

.anbefaldinger {
   grid-area: a;
   height: 200px;
   color: white;
}

.calltoaction {
   grid-area: c;
   color: white;
}

a.one:link {color: blue; text-decoration:none;}
a.one:hover {
  text-decoration:underline;
  color: darkblue;
}

@media only screen and (min-width: 0px) {
  .container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
  }

  .container {
      height: 100%;
      display: grid;
      grid-gap: 0px;
      place-items: center;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
          "m m m h h h h h h j j j"
          "m m m h h h h h h j j j"
          "hv hv hv hv hv hv hv hv hv hv hv hv"
          "o o o o o o o o o o o o"
          "p p p p p p p p p p p p"
          "a a a a a a a a a a a a"
          "c c c c c c c c c c c c"
          "f f f f f f f f f f f f";
  }

  #projekter {
     grid-area: p;
     color: white;
     height: 100%;
     display: grid;
     grid-gap: 90%;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         "et et et et et et to to to to to to"
         "tre tre tre tre tre tre fire fire fire fire fire fire";
  }

  #praesentation {
     grid-area: o;
     height: 500px;
     color: white;
     display: grid;
     grid-gap: 0%;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         "pr pr pr pr pr pr prhe prhe prhe prhe prhe prhe"
         "pr pr pr pr pr pr prte prte prte prte prte prte";
  }
}

@media only screen and (min-width: 650px) {
   .container > div {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2em;
       color: purple;
       background-color: #232323;
     }

    .container {
       height: 100%;
       display: grid;
       grid-gap: 2px;
       place-items: center;
       grid-template-columns: repeat(12, 1fr);
       grid-template-areas:
       "m m m h h h h h h j j j"
       "hv hv hv hv hv hv hv hv hv hv hv hv"
       "o o o o o o o o o o o o"
       "p p p p p p p p p p p p"
       "a a a a a a a a a a a a"
       "c c c c c c c c c c c c"
       "f f f f f f f f f f f f";
 }
}
