html, body {
  font-style:
  max-width: 1920px;
  margin: auto;
  background-color: #232323;
}

a {
color: #f2f2f2;
}

@media only screen and (min-width: 650px) {
   .container > div {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2em;
       color: #f2f2f2;
       background-color: #232323;
     }

   .container > a {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2em;
    }

    .header {
       font-family: 'Oswald', sans-serif;
       font-weight: bold;
       grid-area: h;
       color: #f2f2f2;
       height: 10px;
    }
    .container {
        height: auto;
        display: grid;
        grid-gap: 0px;
        place-items: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". . . h h h h h h . . .";
      }
}

@media only screen and (max-width: 650px) {
  .header {
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
     grid-area: h;
     color: #f2f2f2;
     height: 100px;
  }

  .navigation {
    position: sticky;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    grid-area: nav;
    grid-gap: 8%;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #f2f2f2;
    background-color: #111111;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  #logo {
     margin: auto;
     grid-area: m;
     height: 80px;
     width: 80px;
  }

  #logofooter {
     margin: auto;
     height: 80px;
     width: 80px;
  }

  .logofooterlink {
    margin: auto;
    grid-area: lofo;
    height: 80px;
    width: 80px;
    align-content: center;
    justify-content: center;
  }

  #profilbillede {
     width: 225%;
     padding-left: 40%;
     object-fit: cover;
     grid-area: pr;
     margin-top: 12%;
  }

  #myVideo {
    grid-area: hv;
    max-width: 100%;
    height: auto;
    filter: brightness(0.8);

  }

  .praesentationsheader {
     grid-area: prhe;
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
     font-size: 55px;
     padding-left: 12%;
     padding-top: 20%;
     color: #F2CB05;
  }

  .praesentationstekst {
     grid-area: prte;
     font-family: 'Oswald', sans-serif;
     font-weight: normal;
     font-size: 22px;
     color: #f2f2f2;
     padding-left: 12%;
     margin-bottom: 120px;
     margin-right: 60px;
  }

  .fotogalleri {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .fotogalleribox {
    grid-area: et;
  }

  .fotogalleri:hover {
    filter: blur(6px);
  }

  .videoprojekt {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .videoprojektbox {
      grid-area: to;
  }

  .videoprojektbox:hover {
    filter: blur(6px);
  }

  .neon {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .neonskiltbox {
     grid-area: tre;
  }

  .neonskiltbox:hover {
    filter: blur(6px);
 }

  .movingartbox {
     grid-area: fire;
     color: #f2f2f2;
  }

  .movingart {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .movingart:hover {
    filter: blur(6px);
  }

  .ctaheader {
     grid-area: ctahead;
     font-weight: normal;
     font-size: 55px;
     margin-top: 10%;
  }

  .ctaparagraf {
    grid-area: ctapara;
    font-size: 22px;
    text-align:center;
    margin-bottom: 10%;
  }

  .calltoactionknap {
    grid-area: ctabutt;
    background-color: #F2CB05;
    border: none;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15%;
    cursor: pointer;
    border-radius: 6px;
    padding: 7% 22%
  }

  .ctabutton {
    text-shadow: 2px 2px 4px black;
  }

  .footera {
    grid-area: foa;
    padding-left: 6%;
    padding-top: 4%;
  }

  .footerb {
    grid-area: fob;
    padding-left: 6%;
  }

  .linkedintekst {
    grid-area: linkdin;
    padding-left: 6%;
  }

  #footer {
    grid-area: foot;
    display: grid;
    color: #f2f2f2;
    width: 100%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". . . . . lofo lofo . . . . ."
        "foa foa foa foa foa lofo lofo . . . . ."
        "fob fob fob fob fob lofo lofo . . . . ."
        "linkdin linkdin linkdin linkdin linkdin lofo lofo . . . . ."
        ". . . . . lofo lofo . . . . ."
  }

  .container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
  }

  .container > a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2em;
  }

  .container {
      height: auto;
      display: grid;
      grid-gap: 0px;
      place-items: center;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
          ". m m . . h h . . . . ."
          "hv hv hv hv hv hv hv hv hv hv hv hv"
          "nav nav nav nav nav nav nav nav nav nav nav nav"
          "o o o o o o o o o o o o"
          "p p p p p p p p p p p p"
          "c c c c c c c c c c c c"
          "foot foot foot foot foot foot foot foot foot foot foot foot";
  }

  #ctatekst {
     grid-area: c;
     font-family: 'Oswald', sans-serif;
     height: auto;
     color: #f2f2f2;
     display: grid;
     height: auto;
     grid-gap: 0%;;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         ". ctahead ctahead ctahead ctahead ctahead ctahead ctahead ctahead ctahead ctahead ."
         ". ctapara ctapara ctapara ctapara ctapara ctapara ctapara ctapara ctapara ctapara ."
         ". . . ctabutt ctabutt ctabutt ctabutt ctabutt ctabutt . . .";
  }

  #projekter {
     grid-area: p;
     height: auto;
     color: #f2f2f2e;
     display: grid;
     grid-gap: 0%;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         "to to to to to to to to to to to to"
         "et et et et et et et et et et et et"
         "tre tre tre tre tre tre tre tre tre tre tre tre"
         "fire fire fire fire fire fire fire fire fire fire fire fire";
  }

  #praesentation {
     grid-area: o;
     height: auto;
     color: #f2f2f2;
     display: grid;
     height: 100%;
     grid-gap: 0%;
     margin-top: -20%;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         "pr pr pr pr pr pr prhe prhe prhe prhe prhe prhe"
         "pr pr pr pr pr pr prte prte prte prte prte prte";
  }
}
