html, body {
  background-color: white;
  max-width: 1920px;
  margin: auto;
}

.header {
   grid-area: h;
}

.logo {
   grid-area: m;
}

.footer {
   grid-area: f;
}

.praesentation {
   grid-area: o;
}

.burgermenu {
   grid-area: j;
}

#myVideo {
  grid-area: hv;
  max-width: 100%;
  height: auto;
  filter: brightness(0.8);
}

.projekter {
   grid-area: p;
}

.projekter {
   grid-area: p;
}

.anbefaldinger {
   grid-area: a;
}

.calltoaction {
   grid-area: c;
}

a.one:link {color: blue; text-decoration:none;}
a.one:hover {
  text-decoration:underline;
  color: darkblue;
}

@media only screen and (min-width: 0px) {
  .container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      color: black;
      background-color: grey;
  }

  html, body {
    background-color: white;
  }

  .container {
      height: 100%;
      display: grid;
      grid-gap: 3px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 40px auto 40px;
      grid-template-areas:
          "h h h h h h h h h h h h"
          "hv hv hv hv hv hv hv hv hv hv hv hv"
          "m m m m m m m m m m m m"
          "o o o o o o o o o o o o"
          "p p p p p p p p p p p p"
          "a a a a a a a a a a a a"
          "c c c c c c c c c c c c"
          "j j j j j j j j j j j j"
          "f f f f f f f f f f f f";
  }

@media only screen and (min-width: 550px) {
    .container {
       height: 100%;
       display: grid;
       grid-gap: 3px;
       grid-template-columns: repeat(12, 1fr);
       grid-template-rows: 40px auto 40px;
       grid-template-areas:
       "h h h m m m m m m j j j"
       "hv hv hv hv hv hv hv hv hv hv hv hv"
       "o o o o o o o o o o o o"
       "p p p p p p p p p p p p"
       "a a a a a a a a a a a a"
       "c c c c c c c c c c c c"
       "f f f f f f f f f f f f";
 }
}
