html, body {
  font-style:
  max-width: 1920px;
  margin: auto;
  background-color: #232323;
}

.header {
   height: 100px;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   grid-area: h;
   color: white;
   height: 80px;
   padding-bottom: 5px;
}

.navigation {
  position: sticky;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  grid-area: nav;
  grid-gap: 8%;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: white;
  background-color: #111111;
  padding-top: 4%;
  padding-bottom: 4%;
}

#logo {
   margin: auto;
   grid-area: m;
   height: 80px;
   width: 80px;
}

#profilbillede {
   width: 225%;
   padding-left: 40%;
   object-fit: cover;
   grid-area: pr;
}

.footer {
   grid-area: f;
   color: white;
}

#myVideo {
  grid-area: hv;
  max-width: 100%;
  height: auto;
  filter: brightness(0.8);
}

.praesentationsheader {
   grid-area: prhe;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   font-size: 153%;
   padding-left: 12%;
   padding-top: 20%;
   color: #F2CB05;
}

.praesentationstekst {
   grid-area: prte;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 60%;
   color: #f2f2f2;
   padding-left: 12%;
   margin-bottom: 120px;
   margin-right: 60px;
}

.et {
   grid-area: et;
   width: 100%;
   height: 100%;
   object-fit: cover;
    color: white;
}

.to {
   grid-area: to;
    color: white;
}

.tre {
   grid-area: tre;
   color: white;
}

.fire {
   grid-area: fire;
   color: white;
}

.anbefaldinger {
   grid-area: a;
   height: 200px;
   color: #f2f2f2;
}

.calltoaction {
   grid-area: c;
   color: white;
}

#projekter {
  grid-area: p;
  height: auto;
  color: white;
  display: grid;
  grid-gap: 0%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
      "et et et et et et et et et et et et"
      "to to to to to to to to to to to to"
      "tre tre tre tre tre tre tre tre tre tre tre tre"
      "fire fire fire fire fire fire fire fire fire fire fire";
}

a.one:link {color: blue; text-decoration:none;}
a.one:hover {
  text-decoration:underline;
  color: darkblue;
}

@media only screen and (min-width: 0px) {
  .container > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
  }

  .container {
      height: auto;
      display: grid;
      grid-gap: 0px;
      place-items: center;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
          ". m m . . h h . . . . ."
          "hv hv hv hv hv hv hv hv hv hv hv hv"
          "nav nav nav nav nav nav nav nav nav nav nav nav"
          "o o o o o o o o o o o o"
          "p p p p p p p p p p p p"
          "a a a a a a a a a a a a"
          "c c c c c c c c c c c c"
          "f f f f f f f f f f f f";
  }

  #projekter {
     grid-area: p;
     height: auto;
     color: white;
     display: grid;
     grid-gap: 0%;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         "et et et et et et et et et et et et"
         "to to to to to to to to to to to to"
         "tre tre tre tre tre tre tre tre tre tre tre tre"
         "fire fire fire fire fire fire fire fire fire fire fire fire";
  }

  #praesentation {
     grid-area: o;
     height: auto;
     color: white;
     display: grid;
     grid-gap: 0%;
     place-items: center;
     grid-template-columns: repeat(12, 1fr);
     grid-template-areas:
         "pr pr pr pr pr pr prhe prhe prhe prhe prhe prhe"
         "pr pr pr pr pr pr prte prte prte prte prte prte";
  }
}

@media only screen and (min-width: 650px) {
   .container > div {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2em;
       color: purple;
       background-color: #232323;
     }

    .container {
       height: 100%;
       display: grid;
       grid-gap: 2px;
       place-items: center;
       grid-template-columns: repeat(12, 1fr);
       grid-template-areas:
       "m m m h h h h h h j j j"
       "hv hv hv hv hv hv hv hv hv hv hv hv"
       "o o o o o o o o o o o o"
       "p p p p p p p p p p p p"
       "a a a a a a a a a a a a"
       "c c c c c c c c c c c c"
       "f f f f f f f f f f f f";
 }
//*
 .projekter {
    grid-area: p;
    color: white;
    height: 200%;
    display: grid;
    grid-gap: 35%;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "et et et et et et to to to to to to"
        "tre tre tre tre tre tre fire fire fire fire fire fire";
 }
 //*/
}
